<!DOCTYPE html>
<html>
<head>
	<title>New Question</title>
</head>
<body>
	<h1>Create New Question</h1>
	<form action="/tests/<%= params[:test_id] %>/questions" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

		<p>
			<label for="question-title">Title:</label>
			<input type="text" name="question[body]" id="question-title">
		</p><br>

		<input type="submit" name="Create">
		
	</form>
</body>
</html>