<div class="col mb-4">
  <div class="card p-3 bg-dark text-light">
    <%= octicon(badge.octicon, color: badge.color, height: 100) %>
    <div class="card-body">
      <h5 class="card-title"><%= badge.title %></h5>
      <p class="card-text"><%= badge.color %></p>
    </div>
  </div>
</div>
