<div>
	<p><%= current_year %>, by Birzhan Serik</p>
	<p>Test-Guru is a website for conducting tests</p>
	<p>
		<a href="thinknetica.com">Thinknetica</a> rails basics course's project <%= github %></a>
	</p>
</div>