<div>
  <p><%= t('footer.author', year: current_year) %></p>
  <p><%= t('footer.about') %></p>
  <p>
    <a href="thinknetica.com">Thinknetica</a> <%= t('footer.thinknetica') %> <%= github %></a>
  </p>
</div>

