<h1>All tests</h1>

<table>
	<tr>
		<th>Title</th>
		<th>Level</th>
		<th>Category</th>
		<th>Number of questions</th>
		<th colspan="3">Actions</th>
	</tr>

	<%= render @tests %>
</table>

<p>
	<%= link_to 'All tests', new_test_path %>
</p>